*{
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Inter', sans-serif;
font-family: 'Karla', sans-serif;
}

main{
  width:327px;
  background:#1A1B21;
  margin: 30px auto;
border-radius:10px;
}

.wrapper{
  padding: 0 35px;
}

.mainText{
  margin-top:33px;
}


.btn-section{
  display:flex;
  justify-content: space-between;
  
}